--index-url=https://download.pytorch.org/whl/cpu
--extra-index-url=https://pypi.org/simple

torch
torchvision

jupyterlab
pandas
matplotlib
numpy
scipy
scikit-learn
seaborn
toolz
memory_profiler
typing-extensions
mypy
line_profiler
pyrsistent
snakeviz
equinox
jax
jaxlib
optax
torchviz
donotation
matfree
cattrs
gymnasium
gymnasium[box2d]
polars
psycopg2-binary
clearml
clearml-agent
boto3
boto3-stubs[ssm]
paramiko
jaxtyping
h5py